#bslider{
    padding-top: 150px !important;
}
#bslider .bcontent span{
    font-size: 45px !important;
    color: #3498db;
    font-weight: 700;
    font-family: 'Comfortaa', 'cursive';;
}
#bslider .bcontent{
    margin-top: 5%;
}
#bslider .bcontent p{
    font-size: 14px;
    color:#333;
    font-weight: 400;
    font-family: 'Comfortaa', 'cursive';;
    padding: 0;
    width: 81%;
}
#bslider .bcontent a{
    font-size: 16px;
    color:#ffffff;
    font-weight: 400;
    font-family: 'Comfortaa', 'cursive';
    border-radius: 25px;
    background-color: #3498db;
    border: 1px solid #3498db;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#bslider .bcontent a:hover{
    color:#3498db;
    background-color: white;
    border: 1px solid #3498db;
}
#bslider .bimage img{
    width: 60%;
}
#bslider .bimage{
    text-align: center;
}


@media (min-width:320px) and (max-width:575px){
    #bslider {
        padding-top: 110px !important;
    }
    #bslider .bcontent span {
        font-size: 27px !important;
    }
    #bslider .bcontent p {
        font-size: 13px;
        text-align: justify;
    }
    #bslider .bimage {
        padding-top: 50px;
    }
}
@media (min-width:576px) and (max-width:767px){
    #bslider {
        padding-top: 95px !important;
        padding-bottom: 40px;
    }
    #bslider .bcontent span {
        font-size: 24px !important;
    }
    #bslider .bcontent p {
        font-size: 13px;
        text-align: justify;
    }
    #bslider .bcontent a {
        font-size: 14px;
    }
    #bslider .bimage {
        margin-top: 13%;
    }
    
}
@media (min-width:768px) and (max-width:991px){
    #bslider {
        padding-top: 95px !important;
        padding-bottom: 50px;
    }
    #bslider .bcontent span {
        font-size: 31px !important;
    }
    #bslider .bimage {
        margin-top: 7%;
    }
}
@media (min-width:992px) and (max-width:1199px){

}