#addambulance{
    padding: 50px 0;
}
#addambulance .btn{
        background: #3498db;
        border-radius: 50px;
        padding: 7px 15px;
        border: none;
        font-family: 'Comfortaa', cursive;
        font-weight: 800;
        color: #ffffff;
    }