
#oldarticle{
    padding-top: 80px;
}
#oldarticle .btitle a{
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    color:#343434;
    padding: 0;
}
#oldarticle .title p{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    width: 600px;
    color:#909090;
    margin:0 auto;
}
#oldarticle p{
    font-size: 13px;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
    color:#494949;
    margin-bottom: 0;
    padding-top: 7px;
}
#oldarticle span{
    font-size: 14px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    color:#12a8d1;
}
#oldarticle .bicon span{
    font-size: 20px;
    cursor: pointer;
    color:#494949;
}
#oldarticle a{
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    color:#919191;
    padding-left:68%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}
#oldarticle a:hover{
    color:#12a8d1;
}
#oldarticle .bicon span:first{
    font-family: 'Comfortaa', cursive;
    font-size: 1px;
    text-decoration: none;
    cursor: pointer;
    color:#12a8d1;
}
#oldarticle .bicon span:last-child{
    text-align: right;
    padding-left:85%;
}
#oldarticle .bicon{
    padding-top: 10px;
}
#oldarticle .bicon span:hover{
    color:#12a8d1;
}


@media (min-width:320px) and (max-width:575px){
    .title h2 {
        font-size: 24px;
    }
    #oldarticle .title p {
        font-size: 13px;
        width: 100% !important;
        text-align: center;
    }
    #oldarticle .btitle a {
        font-size: 20px;
    }
    #oldarticle span {
        font-size: 13px;
    }
    #oldarticle p {
        font-size: 13px;
        text-align: justify;
        width: 100%;
    }
    #oldarticle a {
        padding-left: 55%;
    }
    #oldarticle .bicon span:last-child {
        padding-left: 84%;
    }
    .title {
        margin-bottom: 45px;
    }
    #newarticle {
        margin-bottom: 38px;
    }
}

@media (min-width:576px) and (max-width:767px){
    #oldarticle .title p {
        width: 80%;
        text-align: center;
    }
    #oldarticle a {
        padding-left: 45%;
    }
    #oldarticle .bicon span:last-child {
        padding-left: 80%;
    }
    #oldarticle {
        margin-bottom: 38px;
    }
    
}
@media (min-width:768px) and (max-width:991px){
    #oldarticle p {
        font-size: 14px;
        text-align: justify;
    }
    #oldarticle .title p {
        text-align: center;
    }
    #oldarticle {
        margin-bottom: 45px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    #oldarticle .btitle a {
        font-size: 20px;
    }
    #oldarticle a {
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        padding-left: 29%;
    }
    #oldarticle p {
        font-size: 14px;
        text-align: justify;
    }
    #oldarticle .bicon span:last-child {
        padding-left: 78%;
    }
    #oldarticle .title p {
        text-align: center;
    }
}
@media (min-width:1200px) and (max-width:1399px){

}