#login{
    padding-top: 160px;
    padding-bottom: 80px;
}
#login .body{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.416);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#login .alert-primary {
    margin-top: 14px;
    color:white;
    background-color: #3498db;
}
#login button {
	width: 100%;
	color: white;
	background-color: #3498db;
	font-family: 'Comfortaa', cursive;
	margin-bottom: 10px;
	margin-left: 0 !important;
}
#login .form-control {
	font-size: 13px;
}
#login  .red {
    color:rgb(240, 8, 8) !important;
    font-family: 'Comfortaa', cursive;
    font-weight: 400;
}
#login  .reset {
    background-color:rgb(240, 8, 8) !important;
    color:white;
    font-family: 'Comfortaa', cursive;
    cursor: pointer;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
#login  .forget {
    font-family: 'Comfortaa', cursive;
}
#login .modaltop {
    font-family: 'Comfortaa', cursive;
    margin-top: 105px !important;
}